@charset "utf-8";
/* CSS Document: Form styles */

/* //////////////////// Form styles //////////////////// */

label{
	color: #eee;
}

input[type=text],
input[type=email],
textarea{
	padding: 5px 10px; 
	font-size: 1em;
	font-family: arial;
	border-radius: 4px;
	border: solid 1px #ccc;
	box-sizing: border-box;	
}
#newsletter input[type=email]{
	width: 100%;
}
input[type=submit]{
	background: #333;
	border: none;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
	margin-top: 5px;
}
input[type=submit]:hover{cursor: pointer;}
ul.inline{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
form * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form header {
	margin: 0 0 20px 0; 
}
form header div {
	font-size: 90%;
	color: #999;
}
form header h2 {
	margin: 0 0 5px 0;
}
form > div {
	clear: both;
	overflow: hidden;
	padding: 1px;
	margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
	margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
	float: left;
	padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
	width: 75%;
	float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
	padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
	width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
	outline: 0;
	border-color: #4697e4;
}

/* //////////////////// Form styles for blocks //////////////////// */

.block-form form > div {
	margin: 0 0 15px 0; 
}
.block-form form > div > label,
.block-form legend {
	width: 100%;
	float: none;
	margin: 0 0 5px 0;
}
.block-form form > div > div,
.block-form form > div > fieldset > div {
	width: 100%;
	float: none;
}
.block-form input[type=text],
.block-form input[type=email],
.block-form input[type=url],
.block-form input[type=password],
.block-form textarea,
.block-form select {
	width: 100%; 
}

/* //////////////////// Form styles RWD //////////////////// */

	@media (max-width: 600px) {
	  form > div {
	    margin: 0 0 15px 0; 
	  }
	  form > div > label,
	  legend {
		width: 100%;
		float: none;
		margin: 0 0 5px 0;
	  }
	  form > div > div,
	  form > div > fieldset > div {
	    width: 100%;
	    float: none;
	  }
	  input[type=text],
	  input[type=email],
	  input[type=url],
	  input[type=password],
	  textarea,
	  select {
	    width: 100%; 
	  }
	}
	@media (min-width: 1200px) {
	  form > div > label,
		legend {
	  	text-align: right;
	  }
	}